.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 10px;
    z-index: 99;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.back-to-top:hover {
    opacity: 1;
    background-color: #333;
}
